.modal-content {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
    border-bottom: none;
    padding: 1.5rem 1.5rem 0.5rem;
    border-radius: 1rem 1rem 0 0;
    color: grey;
}

.modal-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.btn-close {
    /* filter: brightness(0) invert(1); */

    opacity: 0.8;
    transition: opacity 0.2s;
}

.btn-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 2rem 1.5rem;
    font-size: 1.1rem;
    color: #495057;
}

.modal-footer {
    border-top: none;
    padding: 1rem 1.5rem 1.5rem;
}

.btn:not(#exportButton):not(#saveButton):not(#cancelButton) {
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: all 0.2s;
}

.btn-secondary {
    background-color: #e9ecef;
    border: none;
    color: #495057;
}

.btn-secondary:hover {
    /* background-color: #dee2e6; */
}

.btn-danger {
    background: var(--primary_color);
    border: none;
}

.warning-icon {
    font-size: 3rem;
    color: #ffc107;
    margin-bottom: 1rem;
}

.success-icon {
    font-size: 3rem;
    color: green;
    margin-bottom: 1rem;
}

.delete-icon {
    font-size: 3rem;
    color: red !important;
    margin-bottom: 1rem;
}

.modal.fade .modal-dialog {
    transform: scale(0.95);
    transition: transform 0.2s ease-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
}