  html {
    font-size: 14px;
  }


  :root {
    --primary_color: #0066a7;

  }


  .form-check-input:checked {
    background-color: var(--primary_color) !important;
    border-color: var(--primary_color) !important;
  }

  .primary-color {
    color: var(--primary_color);
  }

  .primary-button {
    background-color: white;
    color: var(--primary_color);
    border: 1px solid var(--primary_color);


  }

  .primary-button:hover {
    background-color: var(--primary_color);
    color: white !important;
  }

  .primary-anchor:hover {
    color: var(--primary_color);
  }


  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .btn:focus,
  .btn:active:focus,
  .btn-link.nav-link:focus,
  .form-control:focus,
  .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }

  html {
    position: relative;
    min-height: 100%;
  }