  html {
    font-size: 14px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  :root {
    --primary_color: #333446;
  }

  .form-check-input:checked {
    background-color: var(--primary_color) !important;
    border-color: var(--primary_color) !important;
  }

  .primary-color {
    color: var(--primary_color);
  }

  .primary-button {
    background-color: white;
    color: var(--primary_color);
    border: 1px solid var(--primary_color);
  }

  .text-primary {
    color: var(--primary_color) !important;
  }

  .primary-button:disabled {
    border: 1px solid #f2f2f2 !important;
    background-color: #f2f2f2 !important;
    pointer-events: auto !important;
    cursor: not-allowed !important;
  }



  .primary-button-v1 {
    color: white !important;
    background-color: var(--primary_color) !important;
  }

  .secondary-button {
    background-color: white;
    color: var(--primary_color);
    border: 1px solid var(--primary_color);
  }

  .secondary-button:hover {
    background-color: #6c757d !important;
    color: white;
    border: 1px solid #6c757d;
  }


  .bg-primary {
    background-color: var(--primary_color) !important;
  }

  .primary-button:hover,
  .primary-button-with-bg {
    background-color: var(--primary_color) !important;
    color: white !important;
  }

  .primary-anchor:hover {
    color: var(--primary_color);
  }


  .dropdown-item.active,
  .dropdown-item:active {
    background-color: aliceblue;
  }


  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .btn:focus,
  .btn:active:focus,
  .btn-link.nav-link:focus,
  .form-control:focus,
  .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--primary_color);
    ;
  }

  html {
    position: relative;
    min-height: 100%;
  }